[defaults]
inventory = ./hosts
log_path= ./ansible_log.txt
host_key_checking = False # Don't worry about RSA Fingerprints
retry_files_enabled = False # Do not create them
deprecation_warnings = False # Do not show warnings
[privilege_escalation]
become = true
become_method = sudo
become_ask_pass = False
[persistent_connection]
connect_timeout = 200
command_timeout = 200
